.music-button-wrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;

  .music-button {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .music-icon {
      width: 1.3rem;
      height: 1.3rem;
      color: var(--theme-color);
    }

    &.playing .music-icon {
      animation: music-spin 3s linear infinite;
    }
  }
}

@keyframes music-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
